name: Publish Android Only

on:
  schedule:
    - cron: '0 5 * * *' # Schedule to run every day at 5am
  workflow_dispatch:
    inputs:
      version:
        description: 'Version Name'
        required: true
      build:
        description: 'Build Number'
        required: true

jobs:
  release-android:
    name: Build and release Android app
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Check for repo changes in the last 24 hours
        id: check_changes
        run: |
          LAST_COMMIT_TIME=$(git log -1 --format=%ct)
          CURRENT_TIME=$(date +%s)
          DIFF=$((CURRENT_TIME - LAST_COMMIT_TIME))
          # 86400 seconds in 24 hours
          if [ $DIFF -gt 86400 ]; then
            echo "No changes in the last 24 hours. Exiting..."
            exit 78 # Exiting with a specific status code to indicate no changes
          else
            echo "Changes detected in the last 24 hours. Continuing..."
          fi
      - uses: maxim-lobanov/setup-xamarin@v1
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1.2'
          bundler-cache: true
          
      - id: create_google_json
        env:
          TMPDIR: ${{ runner.temp }}
          GOOGLE_JSON_KEY_BASE64: ${{ secrets.GOOGLE_JSON_KEY_BASE64 }}
        run: |
          echo ${{ env.GOOGLE_JSON_KEY_BASE64 }} | base64 -d > ${{ env.TMPDIR }}/__google_credentials.json

      - id: create_key_store
        env:
          TMPDIR: ${{ runner.temp }}
          ANDROID_KEYSTORE_BASE64: ${{ secrets.ANDROID_KEYSTORE_BASE64 }}
        run: |
          echo ${{ env.ANDROID_KEYSTORE_BASE64 }} | base64 -d > ${{ env.TMPDIR }}/__keystore.jks

      - name: Install Fastlane
        run: bundle install
        id: install_fastlane
      - name: Assemble and Upload to PlayStore
        id: build_and_upload
        run: bundle exec fastlane android build
        env:
          VERSION_NAME: ${{ github.event.inputs.version }}
          BUILD_NUMBER: ${{ github.event.inputs.build }}
          GOOGLE_JSON_FILE: ${{ runner.temp }}/__google_credentials.json
          ANDROID_KEYSTORE: ${{ runner.temp }}/__keystore.jks
          STORE_PASSWORD: ${{ secrets.KEY_STORE_PASSWORD }}
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_ALIAS_PASSWORD: ${{ secrets.KEY_ALIAS_PASSWORD }}
          
      - name: Microsoft Teams Notification
        uses: skitionek/notify-microsoft-teams@master
        if: always()
        with:
          webhook_url: ${{ secrets.MSTEAMS_WEBHOOK }}
          needs: ${{ toJson(needs) }}
          job: ${{ toJson(job) }}
          steps: ${{ toJson(steps) }}